body{
  background-color: #c3deec;
}

h1 {
  background-color: #00a7f9;
  height: 80px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 20px;
}

#generadorDeTweets {
  width: 500px;
  height: 200px;
  margin-bottom: 20px;
}
